extends layout

block scripts
  link(href='stylesheets/index.css', rel='stylesheet')

block content
  div.welcome
    if session.loggedIn
      h1 Welcome #{session.user.name}!
    else
      h1 Welcome!
  if session.loggedIn
    if myTeam
      table.table.table-bordered
        caption Current Points
        thead
          tr
            th Player
            th Team
            th Team Logo
            th Position
            th Score
        tbody
          for player in myTeam.players
            tr
              td.col-md-3= elements[player].web_name
              td.col-md-3= teams[elements[player].team-1].name
              td.col-md-2: span.badge-25(class=teams[elements[player].team-1].short_name)
              td.col-md-2= elementTypes[elements[player].element_type-1].singular_name_short
              td.col-md-2= elements[player].event_points
  table.table.table-bordered
    caption Fixtures
    tbody
      for fixture in fixtures 
        tr
          td.col-md-4= teams[fixture.team_h-1].name
          td.col-md-1: span.badge-25(class=teams[fixture.team_h-1].short_name)
          td.col-md-2= fixture.kickoff_time_formatted
          td.col-md-1: span.badge-25(class=teams[fixture.team_a-1].short_name)
          td.col-md-4= teams[fixture.team_a-1].name
        