extends layout

block scripts
  link(href='stylesheets/index.css', rel='stylesheet')

block content
  div.welcome
    if session.loggedIn
      h1 Welcome #{session.user.name}!
    else
      h1 Welcome!
  if session.loggedIn
    if myTeam
      table.table.table-bordered
        caption Current Points
        thead
          tr
            th Player
            th Team
            th Team Logo
            th Player Type
            th Score
        tbody
          for player in myTeam.players
            tr
              td.col-md-3= players[player.id].web_name
              td.col-md-3= teams[players[player.id].team-1].name
              td.col-md-2: span.badge-25(class=teams[players[player.id].team-1].short_name)
              td.col-md-2= players[player.id].element_type
              td.col-md-2= player.score
  table.table.table-bordered
    caption Fixtures
    tbody
      for fixture in fixtures 
        tr
          td.col-md-4= teams[fixture.team_h-1].name
          td.col-md-1: span.badge-25(class=teams[fixture.team_h-1].short_name)
          td.col-md-2= fixture.kickoff_time_formatted
          td.col-md-1: span.badge-25(class=teams[fixture.team_a-1].short_name)
          td.col-md-4= teams[fixture.team_a-1].name
      